@import '@/scss/index.scss';
.input-wrapper {
  @include gradien;
  padding: 0.2rem;
  border-radius: 3rem;
  height: 3.5rem;
  margin-top: 2.5rem;
  &__input {
    background-color: #00102f;
    border-radius: 3rem;
    color: white;
    width: 100%;
    height: 100%;
    padding: 0 1.5rem;
    font-size: $SIZE-14;
    font-family: $FONT-POPPINS;

    &::placeholder {
      color: rgba(255, 255, 255, 0.801);
    }
  }
  &__label {
    font-size: $SIZE-14;
    margin-left: 0rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s;
    transform: translateY(-6.5rem);
  }
  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(-4rem);
    transform: translateY(-4rem);
  }
}
