.light-cyan {
  position: absolute;
  right: 0%;
  bottom: -60%;
  width: 0.1px;
  height: 0.1px;
  background-color: #24b9d37c; /* for the 1px in the center */
  border-radius: 50%;
  box-shadow: 0 0 25rem 9rem #24b8d3;
  animation: breathing 6s infinite;
}
.light-blue {
  position: absolute;
  width: 0.1px;
  height: 0.1px;
  background-color: #2470d37c; /* for the 1px in the center */
  border-radius: 50%;
  box-shadow: 0 0 25rem 9rem #2470d3;
  animation: breathing 6s infinite;
  &--right {
    right: 0;
  }
}
