@import '@/scss/index.scss';
.tabbar {
  @include center;
  @include limits(6rem, 27rem);
  flex-direction: column;
  position: fixed;
  background-color: $TRANSPARENT-COLOR;
  backdrop-filter: blur(1em);
  border-radius: 5em;
  top: 50%;
  left: 1em;
  padding: 0 0.8rem;
  gap: 2rem;
  transform: translateY(-50%) translateX(-100px);
  animation: nav-in 1s ease 1 1.5s forwards;
  &--hide {
    display: none;
  }
  &__icon-container {
    width: 3.5rem;
    height: 3.5rem;
  }
  &__icon {
    width: 100%;
    height: 100%;
  }
}

@keyframes nav-in {
  to {
    transform: translateY(-50%) translateX(0);
  }
}
@keyframes nav-icon {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  to {
    transform: scale(1.2);
    color: rgb(140, 255, 255);
    border: solid rgb(140, 255, 255) 2px;
  }
}

@media (max-width: $BREAKPOINT-TABLET) {
  .tabbar {
    flex-direction: row;
    @include limits(90%, 6rem);
    left: 50%;
    top: auto;
    bottom: 1rem;
    padding: 0 0.8rem;
    justify-content: space-evenly;
    transform: translate(-50%);
    animation: none;
  }
}
