@import '@/scss/index.scss';

.not-found {
  @include limits(70vw, 70vh);
  @include absolute-center;
  display: flex;
  align-items: center;
  justify-content: center;
  &__animation {
    width: 100%;
  }
  &__text {
    @include gradien-text;
    position: absolute;
    top: 0;
    font-size: 7rem;
  }
}
@media (max-width: $BREAKPOINT-TABLET) {
  .not-found {
    &__text {
      @include gradien-text;
      position: absolute;
      top: 20%;
      font-size: 5rem;
    }
  }
}
