@import '@/scss/index.scss';
.aboutme {
  @include limits(90vw, auto, auto);
  min-height: 100vh;
  @include center;
  gap: 5rem;
  &__photos-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 1s;
    overflow: visible;

    &--in {
      opacity: 1;
    }
    &--out {
      opacity: 0;
    }
  }
  &__blob {
    position: absolute;
    width: 150%;
    overflow: visible;
  }
  &__photos {
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    overflow: hidden;
    background-image: url('@/assets/leandro-rebequi-a.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: -5rem 6rem 10rem 0.3rem #00ccff36,
      10rem -5rem 10rem 0.3rem #006eff4f;
    filter: brightness(0.7);
    transition: all 1s;

    &:hover {
      box-shadow: -3rem 3rem 8rem 0.2rem #00ccff9c,
        8rem -3rem 8rem 0.2rem #006eff88;
      opacity: 1;
      filter: brightness(1);
    }
  }
  &__decription-container {
    max-width: 30%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-top: 6rem;
    text-align: end;
  }
  &__sub-title {
    @include gradien-text;
    transition: all 1s;
    opacity: 0;
    &--in {
      opacity: 1;
      animation: fade-in-translateX-0-text-shadow 2.5s 1;
    }
    &--out {
      opacity: 1;
      animation: fade-out 1s 1 forwards;
    }
    &:hover {
      text-shadow: 0px 0px 1rem #00ccff;
    }
  }
  &__description {
    transition: all 1s;
    opacity: 0;
    transform: translateX(30%);

    &--in {
      opacity: 0;
      transform: translateX(30%);
      animation: fade-in-translateX-0 1s 1 forwards;
    }
    &--out {
      opacity: 1;
      transform: translateX(0);
      animation: fade-out 1s 1 forwards;
    }
  }
  &__skill {
    align-self: flex-end;
    margin-bottom: 3rem;
    &__title {
      transition: all 1s;
      @include gradien-text;
      opacity: 0;
      margin-bottom: 1rem;
      transform: translateX(50%);

      &--in {
        opacity: 0;
        transform: translateX(50%);
        animation: fade-in-translateX-0 1s 1 forwards;
      }
      &--out {
        opacity: 1;
        transform: translateX(0%);
        animation: fade-out 1s 1 forwards;
      }
      &:hover {
        text-shadow: 0px 0px 1rem #00ccff;
      }
    }
    &__item {
      opacity: 0;
      transform: translateX(50%);
      &::before {
        display: inline-block;
        content: '-';
        @include gradien-text;
        margin-right: 1rem;
      }
    }
  }
}
@media (max-width: $BREAKPOINT-TABLET) {
  .aboutme {
    flex-direction: column-reverse;
    &__decription-container {
      max-width: 100%;
      align-self: center;
      margin-top: 6rem;
      text-align: center;
    }
    &__description {
      transform: translate(0);
    }
    &__skill {
      align-self: start;
      margin-left: 3rem;
    }
  }
}
