@keyframes fade-out {
  to {
    opacity: 0;
  }
}
@keyframes fade-in {
  to {
    opacity: 1;
  }
}
@keyframes fade-in-07 {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}
@keyframes fade-in-translateX-0 {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fade-in-translateX-0-text-shadow {
  0% {
    opacity: 0;
    transform: translateX(-50%);
    text-shadow: 0px 0px 1rem #00ccff;
  }
  40% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    text-shadow: 0px 0px 1rem #00ccff00;
  }
}
@keyframes background-animation {
  100% {
    background-position: 0rem -1rem;
    opacity: 0.7;
  }
}
@keyframes gradient-color {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}
@keyframes top-to-bottom-50 {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes respiracion {
  0% {
    transform: scale(0.7);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.7);
  }
}

@keyframes glich {
  0% {
    opacity: 1;
  }
  5% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  11% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  21% {
    opacity: 0;
  }
  23% {
    opacity: 1;
  }
  24% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  53% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
