@import '@/scss/index.scss';

.projects {
  @include limits(90vw, auto, auto);
  min-height: 100vh;
  flex-direction: column;
  border: solid 1px rgba(0, 255, 255, 0);

  &__title {
    @include gradien-text;
    transition: all 1s;
    width: 80%;
    margin-top: 8rem;
    margin-left: 13rem;
    opacity: 0;
    &:hover {
      text-shadow: 0px 0px 1rem #00ccff;
    }
    &--in {
      opacity: 0;
      animation: top-to-bottom-50 1s 1 forwards;
    }
    &--out {
      opacity: 1;
      animation: fade-out 1s 1 forwards;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
  }
  &__item {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    opacity: 0;
    &__description {
      width: 30%;
    }
    &-0,
    &-2 {
      text-align: end;
      transform: translateX(-10%);
      &--in {
        animation: fade-in-translateX-0 1s 1 forwards;
      }
      &--out {
        transform: translateX(0);
        opacity: 1;
        animation: fade-out 1s 1 forwards;
      }
    }
    &-1,
    &-3 {
      flex-direction: row-reverse;
      transform: translateX(10%);
      &--in {
        animation: fade-in-translateX-0 2s 1 forwards;
      }
      &--out {
        transform: translateX(0);
        opacity: 1;
        animation: fade-out 2s 1 forwards;
      }
    }
  }
}
@media (max-width: $BREAKPOINT-TABLET) {
  .projects {
    &__title {
      width: 100%;
      margin-left: auto;
      text-align: center;
    }
    &__container {
      gap: 6rem;
    }
    &__item {
      flex-direction: column-reverse;
      &__description {
        width: 70%;
        text-align: center;
      }
      &-0,
      &-2 {
        transform: translateX(-5%);
        &--in {
          animation: fade-in-translateX-0 1s 1 forwards;
        }
        &--out {
          transform: translateX(0);
          opacity: 1;
          animation: fade-out 1s 1 forwards;
        }
      }
      &-1,
      &-3 {
        transform: translateX(5%);
        &--in {
          animation: fade-in-translateX-0 2s 1 forwards;
        }
        &--out {
          transform: translateX(0);
          opacity: 1;
          animation: fade-out 2s 1 forwards;
        }
      }
    }
  }
}
