@import '@/scss/index.scss';

.contact {
  @include limits(90vw, 100vh, auto);
  @include center;

  &__form {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 1rem;
  }
  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    &--btn {
      width: 100%;
      height: 3rem;
    }
  }
}
